body{
background-color: rgb(25, 0, 255);

}
h1{
color: rgb(255, 255, 255);
}
/* ===== RESET ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#050505;
    color:#fff;
}

/* ===== HEADER ===== */

header{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    background:linear-gradient(180deg,#009739,#002776,#000);
}

header h1{
    font-size:70px;
    text-shadow:0 0 25px #00ff66;
    animation:brilho 2s infinite alternate;
}

header p{
    margin-top:20px;
    font-size:22px;
    color:#ddd;
}

@keyframes brilho{
    from{
        text-shadow:0 0 10px #00ff66;
    }

    to{
        text-shadow:
        0 0 25px #00ff66,
        0 0 40px #00ff66;
    }
}

/* ===== TIMELINE ===== */

.timeline{
    width:90%;
    max-width:1100px;
    margin:80px auto;
}

/* ===== CARDS ===== */

.card{
    background:#111;
    margin:40px 0;
    padding:25px;
    border-radius:20px;
    border-left:8px solid #00ff66;
    transition:.5s;
    box-shadow:0 0 25px rgba(0,255,100,.15);
}

.card:hover{
    transform:translateY(-10px) scale(1.02);
    box-shadow:0 0 40px rgba(0,255,100,.5);
}

.card h2{
    color:#00ff66;
    margin-bottom:15px;
}

.card p{
    color:#ddd;
    line-height:1.8;
}

.card img{
    width:100%;
    margin-top:20px;
    border-radius:15px;
    transition:.5s;
}

.card img:hover{
    transform:scale(1.03);
}

/* ===== FLASHBACK ===== */

.flashback{
    opacity:0;
    transform:translateY(100px);
    transition:1s;
}

.flashback.ativo{
    opacity:1;
    transform:translateY(0);
}

/* ===== BOTÃO ===== */

button{
    margin-top:25px;
    padding:15px 35px;
    background:#00ff66;
    color:#000;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    transition:.4s;
}

button:hover{
    background:#fff;
    transform:scale(1.1);
}

/* ===== FOOTER ===== */

footer{
    text-align:center;
    padding:40px;
    background:#000;
    color:#aaa;
}

/* ===== RESPONSIVO ===== */

@media(max-width:768px){

header h1{
    font-size:45px;
}

header p{
    font-size:18px;
}

.card{
    padding:18px;
}

}
